html {
  font-size: 10px;
  background: url(https://images.unsplash.com/photo-1537054225781-f6841f9b80dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80) bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid #1f3d88;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(31, 61, 136, 0.7);
  text-shadow: 0 0 .5rem #1f3d88;
}

.playing {
  transform: scale(1.1);
  border-color: #4fa0df;
  box-shadow: 0 0 1rem #4fa0df;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #4fa0df;
}
